.category-container {
    width: 100%;
    
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    .category-content {
        width: 90%;
        background-color: burlywood;

            .img-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
                width: 300px;
                
                img {
                    width: 30%;
                }
            }
        

    }
}