.out {
    
    padding-top: 1.25rem; // pt-5
}

.container {
  padding: 1rem; // p-4
  width: 100%; // w-full
  
  background-color: rgb(0,0,0,0.6); // bg-[rgba(0,0,0,0.8)]
  border-radius: 0.375rem; // rounded-md

  h2 {
    color: rgb(231, 144, 24);
  }

  .title {
    width: 100%;
    background-color: rgb(180, 113, 18);
    color: white;
    display: flex;
    
    text-transform: uppercase;

    div:nth-child(1)  {
        width: 25%;
    }
    div:nth-child(2)  {
        width: 25%;
    }
    div:nth-child(3)  {
        width: 25%;
    }
    div:nth-child(4)  {
        width: 25%;
    }
    div:nth-child(5)  {
        width: 25%;
    }

    
  }
  
  
}
.row-container {
    display: flex;
    margin-top: 1rem;
    border-bottom: 1px solid rgb(231, 144, 24);
    align-items: center;
    color: #d0d2d6;

    
    div:nth-child(1)  {
        width: 25%;
        @media (max-width: 824px) {
            width: 10%;
        }
        
    }
    div:nth-child(2)  {
        width: 25%;
    }
    div:nth-child(3)  {
        width: 25%;
    }
    div:nth-child(4)  {
        width: 25%;
        @media (max-width: 824px) {
            width: 40%;
        }
    }
    div:nth-child(5)  {
        width: 25%;
        button {
            
            border: none;
            background: rgb(231, 144, 24);
            color: white;
            font-size: 1.2rem;
            cursor: pointer;
            outline: none;
            border-radius: 0.375rem;
            transition: 0.3s;
            &:hover {
              background: rgb(165, 103, 16);
              transform: scale(1.1);
            }
          }
    }
    
  }
  