// _variables.scss

$font-family: "Lobster", sans-serif;
$background-gradient: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%), url('../assets/final_background.png');
$border-color: rgb(231, 144, 24);
$text-color: rgb(255, 255, 255);
$hover-color: rgb(231, 144, 24);
$input-border-color: rgb(231, 144, 24);
$button-bg-color: rgb(231, 144, 24);
$button-text-color: white;
$button-hover-bg-color: rgb(231, 144, 24);
$login-page-background: linear-gradient(rgba(0, 255, 204, 0.207), rgba(0, 0, 0, 0.51)), url('../assets/login_Page.png');
$login-page-border-radius: 20%;
$input-focus-border: none;
$input-focus-outline: none;

